input{
    margin: .4rem 0;
}
p{
    height: 600px;
    width: 95%;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    background: #ffc266;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    border: black 3px solid;
}
a{
    font-size: 20px;
}